# Dependencies
node_modules/

# Build output
dist/

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# Vite
*.local

# Wrangler
.wrangler/
